@import "../../css-config/mixins.scss";

.auth-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;

  @include lg {
    min-height: 100vh;
  }

  .auth-card {
    max-width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    border: 1px solid #dadce0;
    border-radius: 8px;
    @include md {
      padding: 30px;
      max-width: 38rem;
    }
    @include lg {
      max-width: 33rem;
    }

    .page-title {
      font-size: 28px;
      color: var(--secondary-color);
    }

    .sub-heading {
      font-size: 12px;
      color: var(--secondary-color);
    }

    form {
      input {
        font-size: 18px;
        width: 100%;
        box-shadow: none;
        height: 60px;
        border: 0;
        font-size: 15px;
        color: var(--secondary-color);
        background-color: #f7f7f7;
        @include md {
          font-size: 20px;
        }
        @include lg {
          font-size: 17px;
        }
      }

      label {
        display: flex;
        align-items: center;
        font-size: 14px;
        @include md {
          font-size: 16px;
        }
      }
      .error {
        color: red;
        font-size: 14px;
        text-align: start;
      }
    }
  }
}
