.auth-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;

  .auth-card {
    max-width: 35.4rem;
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 10px;

    h3 {
      font-size: 24px;
      color: var(--secondary-color);
    }

    p {
      font-size: 12px;
      color: var(--secondary-color);
    }

    form {
      input {
        color: var(--secondary-color);
        font-size: 18px;
        width: 100%;
        box-shadow: none;
        height: 52px;
        background: #f7f7f7;
        border: 0;
      }

      label {
        color: inherit;
        background: transparent;
      }
    }
  }
}
