.ant-layout {
  font-family: "Poppins", sans-serif;
  .ant-layout-sider {
    max-width: 240px !important;
    min-width: 240px !important;
  }

  .logo {
    .sm-logo {
      display: none;
    }
  }

  .ant-layout-sider-collapsed {
    max-width: 80px !important;
    min-width: 80px !important;
    .sm-logo {
      display: block;
    }
    .lg-logo {
      display: none;
    }
  }

  main {
    overflow-y: scroll;
  }

  .anticon svg {
    font-size: 24px;
  }

  .ant-menu-title-content {
    font-size: 16px;
  }

  .ant-layout-header {
    h5 {
      line-height: 20px;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      line-height: 20px;
      font-size: 14px;
    }

    .notification-icon {
      top: 5px;
      right: -2px;
      font-size: 16px;
    }
  }
}
