// .ant-layout-content {
//   background-color: transparent !important;
//   font-family: var(--base-poppins-font);
//   height: 78vh !important;

//   &::-webkit-scrollbar {
//     width: 0 !important;
//   }

  .dashboard-container {
    .green {
      color: green;
    }

    .red {
      color: red;
    }
    .page-title {
      color: #212529;
    }
  }
// }
