@import "./css-config/mixins.scss";

.ant-layout {
  // Side Menu
  .ant-layout-sider {
    max-width: 180px !important;
    min-width: 180px !important;
    @include md {
      max-width: 220px !important;
      min-width: 220px !important;
    }
    @include lg {
      max-width: 225px !important;
      min-width: 225px !important;
    }
  }

  .logo {
    .sm-logo {
      display: none;
    }
  }
  .ant-layout-sider-collapsed {
    max-width: 60px !important;
    min-width: 60px !important;

    @include md {
      max-width: 70px !important;
      min-width: 70px !important;
    }
    @include lg {
      max-width: 80px !important;
      min-width: 80px !important;
    }
    .sm-logo {
      display: block;
    }
    .lg-logo {
      display: none;
    }
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    background: transparent !important;
    padding-left: 13px !important;
    @include lg {
      padding-left: 22px !important;
    }
  }

  // Header
  .ant-layout-header {
    .anticon svg {
      font-size: 24px;
    }
    .notification-icon {
      top: 1px;
      right: -2px;
      font-size: 16px;
    }
    .user-info {
      img {
        width: 45px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
      .user-details {
        .user-name {
          line-height: 18px;
          font-weight: 500;
          display: none;
          @include md {
            font-size: 18px;
            display: block;
          }
          @include lg {
            font-size: 16px;
          }
        }
        .user-email {
          line-height: 20px;
          font-size: 14px;
          @include lg {
            font-size: 12px;
          }
        }
      }
    }
  }

  // Main Layout Content
  .ant-layout-content {
    overflow-y: scroll;
    background-color: transparent !important;
    height: 78vh !important;
    margin: 0px 0px;
    padding: 10px;

    @include md {
      margin: 0px 16px;
      padding: 15px 20px;
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    //* DashBoard Start
    .page-title {
      margin-top: 2px;
      font-size: 26px;
      color: #212529;
    }
    .sub-heading {
      font-size: 18px;
      color: var(--color-3b4149);
    }
    .comparison-card {
      .compar-data {
        font-size: 10px;
        font-weight: 500;
        @include lg {
          font-size: 14px;
          font-weight: 400;
        }
        .green {
          color: green;
        }

        .red {
          color: red;
        }
      }
    }
    //   Incom Statics
    .monthly-sales-cart {
      canvas {
        margin-left: -10px;
        width: 100% !important;
        height: 300px !important;
        touch-action: pinch-zoom !important;
        @include lg {
          margin-left: 10px;
          height: 450px !important;
        }
      }
    }
    //   Recent Orders
    .table-container {
      overflow-x: auto;
      margin-top: 10px;
      .ant-table {
        width: 100%;
        min-width: 800px;
      }
    }
    //* DashBoard End
  }
  .ql-editor {
    min-height: 20vh;
  }
}
